<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
	<div class="container clearfix">
		<div class="social-links float-right">
			<a href="https://twitter.com/?lang=fr" class="twitter">
				<i class="icofont-twitter"></i>
			</a>
			<a href="https://fr-fr.facebook.com/" class="facebook">
				<i class="icofont-facebook"></i>
			</a>
			<a href="https://www.instagram.com/?hl=fr" class="instagram">
				<i class="icofont-instagram"></i>
			</a>
			<a href="https://www.youtube.com/" class="youtube">
				<i class="icofont-youtube"></i>
			</a>
		</a>
	</div>
	<div class="contact-info float-right">
		<i class="icofont-envelope"></i>
		<a href="mailto:body.nice@coachngo.com">body.nice@coachngo.com</a>
		<i class="icofont-phone"></i>
		<a href="#">04 93 89 05 46</a>
	</div>
</div></section><!-- ======= Header ======= --><header id="header">
<div class="container">

	<div class="logo float-left">
		<h1 class="text-light"><a href="#"><span>Coach&Go</span></a></h1>
		<!-- Uncomment below if you prefer to use an image logo -->
	{# <img src="{{asset('assets/images/logo.png')}}" alt="" class="img-fluid"> </a> #}
</div>

<nav class="nav-menu float-right d-none d-lg-block">
	<ul>
		<li>
			<a class="nav-link" href="{{path('accueil') }}">Accueil</a>
		</li>
        <li>
			<a class="nav-link" href="{{path('discipline_coach_index') }}">Trouver des coachs</a>
		</li>
        <li>
			<a class="nav-link" href="{{path('offres') }}">Nos Offres</a>
		</li>
        <li>
			<a class="nav-link" href="{{path('avis') }}">Nos Avis</a>
		</li>
		<li>
			<a lass="nav-link" href="{{path('contact') }}">Contact</a>
		</li>
		{% if (app.user.email is defined) %}
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_logout') }}">Déconnexion</a>
			</li>

		{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_login') }}">Connexion</a>
			</li>
            <li class="nav-item">
				<a class="nav-link" href="{{path('app_register') }}">Inscription</a>
			</li>
		{% endif %}

	</ul>
</nav>
<!-- .nav-menu --></div></header><!-- End Header -->